$light-red: rgb(247, 62, 62);

@mixin header {
  text-align: center;
  color: #222;
  font-weight: bold;
  margin: 20px;
}

@mixin signup-style {
  background-color: $light-red;
  color: #fff !important;
  width: 200px;
  border-radius: 20px;
  text-align: center;

  &:hover,
  &:focus {
    color: #fff !important;
    background-color: red;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif, monospace;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  color: #655a56;
  min-height: calc(100vh - 2 * 1vw);
}

.ml-auto {
  margin-left: auto;
}

.navbar {
  padding: 10px 20px;
}
.navbar-nav {
  .nav-item {
    margin: 10px;

    .nav-link {
      font-size: 0.8em;
      font-weight: bold;
    }

    .signup {
      @include signup-style();
    }
  }
}

// main

.main {
  .container {
    .popular-header,
    .cuisines-header {
      @include header();
    }

    .popular {
      padding: 12px;
      .card {
        margin: 10px auto;
        .card-img-top {
          height: 250px;
        }
        .card-body {
          .card-title {
            font-size: 1.15em;
            font-weight: bold;
            margin: auto 5px;
          }
          .food-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #333;
            p {
              color: #222;
              font-weight: bold;
            }
          }
        }
      }
    }

    .cuisines {
      padding: 12px;

      .recipes {
        background-color: #eee;
        border-radius: 10px;
      }
      .categories {
        width: 40%;
        margin: 10px auto 20px auto;
        display: flex;
        justify-content: space-between;

        .btn {
          font-size: 0.8em;
          width: 100px;
          border-radius: 20px;
        }

        .btn-outline-danger {
          color: $light-red;
          &:focus {
            background-color: $light-red;
            color: #fff;
          }
          &:hover {
            color: #fff;
          }
        }
      }
    }

    .mobile {
      padding: 12px;
      .mobile-info {
        margin: 5px 0px;
        h3 {
          color: #111;
          font-weight: bold;
        }
        p {
          line-height: 2;
        }
      }

      .app-photo {
        width: 100%;
        height: max-content;
      }
    }
  }
}

.search-section {
  position: relative;
  form {
    margin-bottom: 3px;
  }
  ul {
    padding: 0px;
    width: 100%;
    height: fit-content;
    max-height: 500px;
    background-color: #eee;
    z-index: 3;
    position: absolute;
    list-style: none;
    left: 0px;
    overflow: hidden;

    li {
      border-bottom: 1px solid #fff;
      padding: 10px;
    }
  }
}
.card {
  margin: 5px;
  cursor: pointer;
  &:hover {
    box-shadow: 5px 5px 5px 2px #ccc;
  }
  &:active {
    box-shadow: 2px 3px 5px 2px #bbb;
  }
}

.pages {
  width: 97%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  padding: 10px;
  border-radius: 20px;
  overflow-x: auto;
  .btn {
    width: 60px;
    margin: 5px;
    background-color: #ddd;
    padding: 10px 20px;
    border-radius: 10px;
  }
}
.recipe {
  .recipe-content {
    margin: auto 5px;
    line-height: 2;
    .recipe-title,
    .recipe-price {
      font-size: 1.1em;
      font-size: bold;

      color: #111;
    }

    .recipe-text {
      text-align: justify;
      font-size: 0.8em;
      font-size: bold;
      color: #999;
    }
  }
  .recipe-img {
    // margin: auto 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    .recipe-asset {
      width: 99%;
      height: max-content;
    }
  }
}

.footer {
  margin: 20px;
  text-align: center;
  font-size: 0.8em;
}

@media (max-width: 983px) {
  .navbar-nav {
    .nav-item {
      margin: 10px auto;

      a {
        @include signup-style();
      }
    }
  }

  .main {
    .container {
      .cuisines {
        .categories {
          width: 90%;

          .btn {
            margin: 5px;
          }
        }
      }
    }
  }
}

@media (min-width: 984px) and (max-width: 1349px) {
  .main {
    .container {
      .cuisines {
        .categories {
          width: 50%;
          .btn {
            margin: 5px;
          }
        }
      }
    }
  }
}
